body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    background-color: orange;
    text-decoration: none;
}


header{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
}
header>h1{
    margin-left: 5vw;
}

.menu{
    justify-content: center;
}

.burger-menu{
   margin-right: 5vw;
}

.list-menu>li{
    position: absolute;
    list-style-type:none;
}

