*{
    margin : 0;
    padding: 0;
}

:root{
    --font-color:white;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: black;

}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

header h1{
    margin-left: 3vw;
    color: var(--font-color) ;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.burger-menu{
    margin: 25px 25px 25px 0;
}

.list-menu{
    display: flex;            /* faux le mettre en none pour disparaitre */
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    list-style-type:none;
    background-color : rgba(125,125,125,0.6);
    margin-top : calc(25px + 64px + 25px) ;
    width: calc(100vw - 25px );
    padding-right: 25px;
    translate: calc(-100vw + (25px + 64px));
}

.list-menu li{
    padding: 5px 0;
}

.item{ 
    text-decoration: none;
    color: var(--font-color) ;
    font-size: 1.7rem;
    white-space: nowrap;
}
.item:hover{
    color: aqua;
}

