/* ------ RESET ------ */
*, ::after, ::before{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}
/* ------ Variable ------ */
:root{
    --font-color:white;
    --background-color:black;
    --header-height:114px;
}

/* ------ Début du Code ------ */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.center{
    text-align: center;
}

/* ------ Menu ------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;    
    position: -webkit-sticky;
    background-color: black;
}

header h1{
    /*margin-left: 50vw;*/
    color: var(--font-color) ;
    margin-left: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.burger-menu{
    margin: 25px 50px 25px 0;
}
.burger-menu:hover, .bouton-page-home:hover{
    cursor: pointer;    /* permet de mettre le curseur comme format lien */
}

.list-menu{
    display: none;            /* faux le mettre en none pour disparaitre */
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    list-style-type:none;
    background-color : rgba(125,125,125,0.6);
    /*margin-top : calc(25px + 64px + 25px) ;*/
    /* width: calc(100vw - 25px );*/
    padding-right: 25px;
    right: 0;
    left:-100vw;
    top: calc(64px + 50px);
    /*translate: calc(-100vw + (25px + 64px));*/
    /*transition: opacity 2s ease-in ;*/
}

.list-menu li{
    padding: 5px 25px 5px 0;
}

.item{ 
    text-decoration: none;
    color: var(--font-color) ;
    font-size: 2.5rem;
    white-space: nowrap;
}
.item:hover{
    color: black;
    font-weight: bold; /* par défaut si écriture en gras, le passage en hover le fait rétrécir */
}

/* -------------------------- */
/* ---------- CORPS --------- */
.corps{
    padding-top: var(--header-height);  /* décalage du contenu mais pas de la boite */
    height: 100vh ;
    background-color : var(--background-color) ;
}

/* -------------------------- */
/* -------- Page Home ------- */ 
.main_picture{
    /*background: no-repeat url("picture/2016-st-malo-chute.jpg") ;
    background-position: top 114px;*/
    padding-top: var(--header-height);  /* décalage du contenu mais pas de la boite */
    /*height: auto;
    width: 100vw; */
}
.main_picture img{
    height: calc(100vh - var(--header-height));
    width: 100vw;
    object-fit: cover; /* permet a l'image de ce caller sur le premier parametre qui lui plait */
}
.presentation{
    margin: 5vw;
    color: var(--font-color);
    font-size: 1.3rem;
}    

.bouton-page-home{
    background: linear-gradient(lightgrey, black);
    align-self: center;
    padding: 5px 20px;
    font-size: 2em;
    color: var(--font-color);
    border: 1px grey solid;
    border-radius: 5px;
    margin-bottom: 50px;
}

/* -------------------------- */
/* ------ Page Galerie ------ */
.galerie{
    padding-top: var(--header-height);
}
.galerie img{
    margin: 0.5rem;
    width: calc(100vw - 1rem) ;
    object-fit: fill;
}

.galerie img:first-child{
    margin-top: 20px;
}

.galerie img:last-child{
    margin-bottom: 50px;
}


/* -------------------------- */
/* ------ Page Contact ------ */
.corps-contact-p
{
    background-color: grey;
    padding: 3%;
    margin: 5%;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 5%;
}

.formulaire:last-child{
    align-items: flex-end;
}

.formulaire *:not(.bouton-envoyer){
    width: 100%;
    padding: 5px 3%;
    font-size: 1.3rem;
    margin-bottom: 8px;
}

input{
    margin-bottom: 10px;
}

.bouton-envoyer{
    font-size: large;
    padding: 5px 10px;  
}

:required { 
    background-color: red;
 }

/*
 @media screen and (max-width: 480px) {
    /* ne pas utiliser tant que je suis sur format au dessus de smartphone
}*/
@media screen and (min-width: 581px) {
    header{
        height: var(--header-height);
    }

    .menu{
        display: flex;
        flex-direction: row;
        position: initial;
    }
    .burger-menu{
        display: none;
    }
    .list-menu{
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: initial;
        left:initial;
    }
    .item:hover{
        color: grey;
        font-weight: bold; /* par défaut si écriture en gras, le passage en hover le fait rétrécir */
    }

    .galerie{
        display: grid;
        grid-template-columns: repeat(4,auto) ;
        grid-template-rows: repeat(3,auto) ;
        gap: 2vw;      
        padding: calc(var(--header-height) + 5px) 2vw 0 2vw;
    }

    .galerie img{
        width: calc(((100vw - 10vw)/4));
        margin: initial;
        align-self: center;
        cursor: zoom-in;
    }

    .galerie img:first-child,
    .galerie img:last-child {
        margin-top: initial;
        margin-bottom: initial;
    }

}